/*
ttp://colorbrewer2.org/
6-class YlGnBu
*/

span.oldenglish, span.welsh, span.irish {
    background-color:#ffffcc;
    color:#000;
}

span.french { 
    background-color:#c7e9b4;
    color:#000;
}

span.latin { 
    background-color:#7fcdbb;
    color:#000;
}

span.dutch { 
    background-color:#41b6c4;
    color:#000;
}

span.greek { 
    background-color:#2c7fb8;
}

span.norse, span.oldnorse { 
    background-color:#d7b5d8;
    color:#000;
}

span.german, span.germanic { 
    background-color:#df65b0;
    color:#000;
}

span.slavonic, span.arabic, span.polish, span.turkish, span.sanskrit { 
    background-color:#dd1c77;
}

span.russian { 
    background-color:#980043;
}

span.spanish { 
    background-color:#fdbe85;
    color:#000;
}

span.americanenglish { 
    background-color:#e6550d;
}

