{% extends 'base.html' %}
{% block title %}{{ page.title }} &mdash; {{ SITENAME }}{% endblock %}
{% block content %}



{#
Page title
#}


{% if page.headerstyle=='carousel' %}




{% else %}

    <h1 class="entry-title">{{ page.title }}</h1>
    <h2 class="entry-title">{{ page.author }}</h2>
    <p>&nbsp;</p>
    <hr />
    <p>&nbsp;</p>




{% endif %}




{#
Page content

if page headerstyle is jumbotron,
content is half page, half list of books.
#}

{% if page.headerstyle == 'jumbotronsplash' %}

<div class="row-fluid">

    <div class="col-md-6">
        {{ page.content }}
    </div>
    <div class="col-md-6">
        {# list of books that have been tagged: #}
        {% include '_includes/books.html' %}

    </div>


</div>


{% elif page.headerstyle=='book' %}

    <h1 class="entry-title">{{ page.title }}</h1>
    <h2 class="entry-title">{{ page.author }}</h2>

    {{ page.content }}


{% elif page.headerstyle == 'languagekey' %}

{{ page.content }}


{% else %}

{{ page.content }}


{% endif %}



{% endblock %}
