<div class="well">
    <h1>Tagged Books</h1>

    <p>&nbsp;</p>

    <h2>David Copperfield, by Charles Dickens</h2>
    <p><a href="copperfield1.html" class="btn btn-primary btn-large">Chapter 1</a></p>

    <p>&nbsp;</p>

    <h2>Dubliners, by James Joyce</h2>
    <p><a href="dubliners1.html" class="btn btn-primary btn-large">The Sisters</a></p>
    <p><a href="dubliners2.html" class="btn btn-primary btn-large">An Encounter</a></p>
    <p><a href="dubliners3.html" class="btn btn-primary btn-large">Araby</a></p>

    <!--
    <p><a href="#" class="btn btn-primary btn-large">Ulysses, by James Joyce</a></p>
    <p><a href="#" class="btn btn-primary btn-large">Heart of Darkness, by Joseph Conrad</a></p>
    -->

    <p>More to come...!</p>
</div>

