<span class="oldenglish">
&nbsp;
Old English/Irish/Welsch
&nbsp;
</span>

<span class="french">
&nbsp;
French, Old French
&nbsp;
</span>

<span class="latin">
&nbsp;
Latin
&nbsp;
</span>

<span class="dutch">
&nbsp;
Dutch, Old Dutch
&nbsp;
</span>

<span class="greek">
&nbsp;
Greek
&nbsp;
</span>

<br>

<span class="norse">
&nbsp;
Norse
&nbsp;
</span>

<span class="german">
&nbsp;
German
&nbsp;
</span>

<span class="arabic">
&nbsp;
Slavic/Arabic/Pol/Turk/Sanskrit
&nbsp;
</span>

<span class="russian">
&nbsp;
Russian
&nbsp;
</span>

<br>

<span class="spanish">
&nbsp;
Spanish
&nbsp;
</span>

<span class="americanenglish">
&nbsp;
American English
&nbsp;
</span>
