<span class="oldenglish">
&nbsp;
Old Eng/Irish/Wel
&nbsp;
</span>

<span class="french">
&nbsp;
French
&nbsp;
</span>

<span class="latin">
&nbsp;
Latin
&nbsp;
</span>

<span class="dutch">
&nbsp;
Dutch
&nbsp;
</span>

<span class="greek">
&nbsp;
Greek
&nbsp;
</span>

<br>

<span class="norse">
&nbsp;
Norse
&nbsp;
</span>

<span class="german">
&nbsp;
German
&nbsp;
</span>

<span class="arabic">
&nbsp;
Slav/Ara/Pol/Turk/Sansk
&nbsp;
</span>

<span class="russian">
&nbsp;
Russian
&nbsp;
</span>

<br>

<span class="spanish">
&nbsp;
Spanish
&nbsp;
</span>

<span class="americanenglish">
&nbsp;
American English
&nbsp;
</span>
