{% extends 'base.html' %}
{% block title %}Frankenstein &mdash; {{ SITENAME }}{% endblock %}
{% block content %}

<h1>Frankenstein</h1>

<h2>Mary Shelley</h2>

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p><a class="btn btn-large btn-primary" href="1/index.html">1 &mdash; Letter 1</a></p>

<p><a class="btn btn-large btn-primary" href="2/index.html">2 &mdash; Letter 2</a></p>

<p><a class="btn btn-large btn-primary" href="3/index.html">3 &mdash; Letter 3</a></p>

<p><a class="btn btn-large btn-primary" href="4/index.html">4 &mdash; Letter 4</a></p>

<p><a class="btn btn-large btn-primary" href="5/index.html">5 &mdash; Chapter 1</a></p>

<p><a class="btn btn-large btn-primary" href="6/index.html">6 &mdash; Chapter 2</a></p>

<p><a class="btn btn-large btn-primary" href="7/index.html">7 &mdash; Chapter 3</a></p>

<p><a class="btn btn-large btn-primary" href="8/index.html">8 &mdash; Chapter 4</a></p>

<p><a class="btn btn-large btn-primary" href="9/index.html">9 &mdash; Chapter 5</a></p>

<p><a class="btn btn-large btn-primary" href="10/index.html">10 &mdash; Chapter 6</a></p>

<p><a class="btn btn-large btn-primary" href="11/index.html">11 &mdash; Chapter 7</a></p>

<p><a class="btn btn-large btn-primary" href="12/index.html">12 &mdash; Chapter 8</a></p>

<p><a class="btn btn-large btn-primary" href="13/index.html">13 &mdash; Chapter 9</a></p>

<p><a class="btn btn-large btn-primary" href="14/index.html">14 &mdash; Chapter 10</a></p>

<p><a class="btn btn-large btn-primary" href="15/index.html">15 &mdash; Chapter 11</a></p>

<p><a class="btn btn-large btn-primary" href="16/index.html">16 &mdash; Chapter 12</a></p>

<p><a class="btn btn-large btn-primary" href="17/index.html">17 &mdash; Chapter 13</a></p>

<p><a class="btn btn-large btn-primary" href="18/index.html">18 &mdash; Chapter 14</a></p>

<p><a class="btn btn-large btn-primary" href="19/index.html">19 &mdash; Chapter 15</a></p>

<p><a class="btn btn-large btn-primary" href="20/index.html">20 &mdash; Chapter 16</a></p>

<p><a class="btn btn-large btn-primary" href="21/index.html">21 &mdash; Chapter 17</a></p>

<p><a class="btn btn-large btn-primary" href="22/index.html">22 &mdash; Chapter 18</a></p>

<p><a class="btn btn-large btn-primary" href="23/index.html">23 &mdash; Chapter 19</a></p>

<p><a class="btn btn-large btn-primary" href="24/index.html">24 &mdash; Chapter 20</a></p>

<p><a class="btn btn-large btn-primary" href="25/index.html">25 &mdash; Chapter 21</a></p>

<p><a class="btn btn-large btn-primary" href="26/index.html">26 &mdash; Chapter 22</a></p>

<p><a class="btn btn-large btn-primary" href="27/index.html">27 &mdash; Chapter 23</a></p>

<p><a class="btn btn-large btn-primary" href="28/index.html">28 &mdash; Chapter 24</a></p>

{% endblock %}


