<div class="well">
 <div>
  <p>
   <h1>
    Tagged Books
   </h1>
  </p>
  <p>
   <h2>
    Dubliners, by James Joyce
   </h2>
   <a class="btn btn-large btn-success" href="dubliners">
    See this book's etymology
    <i class="fa fa-arrow-circle-o-right">
    </i>
   </a>
  </p>
  <p>
   <h2>
    Ulysses, by James Joyce
   </h2>
   <a class="btn btn-large btn-success" href="ulysses">
    See this book's etymology
    <i class="fa fa-arrow-circle-o-right">
    </i>
   </a>
  </p>
  <p>
   <h2>
    Frankenstein, by Mary Shelley
   </h2>
   <a class="btn btn-large btn-success" href="frankenstein">
    See this book's etymology
    <i class="fa fa-arrow-circle-o-right">
    </i>
   </a>
  </p>
  <p>
   <h2>
    Crime and Punishment, by Fyodor Dostoyevsky (Constance Garnett translation)
   </h2>
   <a class="btn btn-large btn-success" href="crimeandpunishment">
    See this book's etymology
    <i class="fa fa-arrow-circle-o-right">
    </i>
   </a>
  </p>
  <p>
   <h2>
    Roughing It, by Mark Twain
   </h2>
   <a class="btn btn-large btn-success" href="roughingit">
    See this book's etymology
    <i class="fa fa-arrow-circle-o-right">
    </i>
   </a>
  </p>
  <p>
   <h2>
    Variable Man, by Philip K. Dick
   </h2>
   <a class="btn btn-large btn-success" href="variableman">
    See this book's etymology
    <i class="fa fa-arrow-circle-o-right">
    </i>
   </a>
  </p>
 </div>
</div>