<span class="french">French</span>
<span class="oldfrench">Old Fr.</span>
<span class="greek">Greek</span>
<span class="latin">Latin</span>
<span class="sanskrit">Sanskrit</span>
<br />
<span class="norse">Norse</span>
<span class="oldnorse">Old Norse</span>
<span class="german">German</span>
<span class="germanic">Germanic</span>
<br />
<span class="english">English</span>
<span class="americanenglish">American Eng.</span>
<span class="oldenglish">Old Eng.</span>
<span class="welsh">Welsh</span>
<span class="irish">Irish</span>
<span class="dutch">Dutch</span>
<br />
<!--
<span class="olddutch">Old Dutch</span>
<span class="oldsaxon">Old Saxon</span>
<span class="russian">Russian</span>
<span class="arabic">Arabic</span>
<span class="spanish">Spanish</span>
<span class="italian">Italian</span>
<span class="slavonic">Slavonic</span>
<span class="polish">Polish</span>
<span class="turkish">Turkish</span>
-->
