/*
http://colorbrewer2.org/
6-class YlGnBu
*/

/*
 * French, Old French
 */

span.french {
    /*purp*/
    background-color:#8c96c6;
    color:#fff;
}
span.oldfrench {
    background-color:#88419d;
    color:#fff;
}

span.greek {
    /*aqua blue*/
    background-color:#0868ac;
    color:#fff;
}
span.latin {
    /*aqua green*/
    background-color:#7bccc4;
    color:#fff;
}
span.sanskrit {
    /*lightgreen*/
    background-color:#bae4bc;
    color:#000;
}

span.norse {
    /*pinkish*/
    background-color:#f1b6da;
    color:#fff;
}
span.oldnorse {
    background-color:#d01c8b;
    color:#000;
}

span.german {
    /*greenish*/
    background-color:#4dac26;
    color:#000;
}
span.germanic {
    background-color:#b8e186;
    color:#000;
}

span.english {
    /* yellow */
    background-color:#ffffbf;
    color:#000;
}
span.americanenglish {
    background-color:#fee08b;
    color:#000;
}
span.oldenglish {
    /*orange-yellow*/
    background-color:#fc8d59;
    color:#000;
}
span.welsh {
    /*orange-red*/
    background-color:#d73027;
    color:#fff;
}
span.irish, span.oldirish {
    /*green-yellow*/
    background-color:#d9ef8b;
    color:#000;
}

span.dutch, span.middledutch {
    /*brown*/
    background-color:#d8b365;
    color:#000;
}
span.olddutch {
    background-color:#8c510a;
    color:#fff;
}

span.oldsaxon, span.oldfrisian {
    /*gold*/
    background-color:#ffd92f;
    color:#000;
}
span.russian {
    /*red-violet*/
    background-color:#ce1256;
    color:#fff;
}
span.arabic, span.persian {
    /*deep brown*/
    background-color:#662506;
    color:#fff;
} 
span.spanish {
    /*orange-brown*/
    background-color:#cc4c02;
    color:#fff;
}
span.italian {
    background-color:#fe9929;
    color:#fff;
}
span.slavonic {
    /* dark blue*/
    background-color:#253494;
    color:#fff;
}
span.polish {
    /*vry drk blue*/
    background-color:#081d58;
    color:#fff;
}
span.turkish {
    /*gray green*/
    background-color:#66c2a4;
}


