{% extends 'base.html' %}
{% block title %}{{ page.title }} &mdash; {{ SITENAME }}{% endblock %}
{% block content %}



{#
Page title
#}


{% if page.headerstyle=='jumbotron' %}
    <div class="jumbotron">
        <h1>{{ page.title }}</h1>
        <p>Tagging word <span class="french">etymology</span> <span class="oldenglish">with</span> <span class="latin">Python</span> <span class="oldenglish">and</span> HTML .</p>
        <p>&nbsp;</p>
        {% include '_includes/key.html' %}
    </div>

{% elif page.headerstyle=='languagekey' %}

    <link href="{{ SITEURL }}/theme/css/padded_body.css" rel="stylesheet" type="text/css" />

    {% include '_includes/key_navbar.html' %}

    <h1 class="entry-title">{{ page.title }}</h1>
    <h2 class="entry-title">{{ page.author }}</h2>
    <p>&nbsp;</p>
    <hr />
    <p>&nbsp;</p>


{% else %}



    <h1 class="entry-title">{{ page.title }}</h1>
    <h2 class="entry-title">{{ page.author }}</h2>
    <p>&nbsp;</p>
    <hr />
    <p>&nbsp;</p>




{% endif %}




{#
Page content

if page headerstyle is jumbotron,
content is half page, half list of books.
#}

{% if page.headerstyle == 'jumbotron' %}

<div class="row-fluid">

    <div class="col-md-6">
        {{ page.content }}
    </div>
    <div class="col-md-6">
        {# list of books that have been tagged: #}
        {% include '_includes/books.html' %}

    </div>


</div>



{% elif page.headerstype == 'languagekey' %}
{{ page.content }}

{% else %}
{{ page.content }}

{% endif %}


{% endblock %}
