{% extends 'base.html' %}
{% block title %}Ulysses - &mdash; {{ SITENAME }}{% endblock %}
{% block content %}

<h1>Ulysses</h1>

<h2>James Joyce</h2>

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p><a class="btn btn-large btn-primary" href="1/index.html">Telemachus</a></p>

<p><a class="btn btn-large btn-primary" href="2/index.html">Nestor</a></p>

<p><a class="btn btn-large btn-primary" href="3/index.html">Proteus</a></p>

<p><a class="btn btn-large btn-primary" href="4/index.html">Calypso</a></p>

<p><a class="btn btn-large btn-primary" href="5/index.html">Lotus Eaters</a></p>

<p><a class="btn btn-large btn-primary" href="6/index.html">Hades</a></p>

<p><a class="btn btn-large btn-primary" href="7/index.html">Aeolus</a></p>

<p><a class="btn btn-large btn-primary" href="8/index.html">Lestrygonians</a></p>

<p><a class="btn btn-large btn-primary" href="9/index.html">Scylla and Charybdis</a></p>

<p><a class="btn btn-large btn-primary" href="10/index.html">Wandering Rocks</a></p>

<p><a class="btn btn-large btn-primary" href="11/index.html">Sirens</a></p>

<p><a class="btn btn-large btn-primary" href="12/index.html">Cyclops</a></p>

<p><a class="btn btn-large btn-primary" href="13/index.html">Nausicaa</a></p>

<p><a class="btn btn-large btn-primary" href="14/index.html">Oxen of the Sun</a></p>

<p><a class="btn btn-large btn-primary" href="15/index.html">Circe</a></p>

<p><a class="btn btn-large btn-primary" href="16/index.html">Eumaeus</a></p>

<p><a class="btn btn-large btn-primary" href="17/index.html">Ithaca</a></p>

<p><a class="btn btn-large btn-primary" href="18/index.html">Penelope</a></p>

{% endblock %}


